name: unittests

on:
  workflow_dispatch:
  push:
    tags:
      - "*"
    branches:
      - main
      - "ci/*"
  pull_request:

jobs:
  unittests:
    name: Tests for Python ${{ matrix.python-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    defaults:
      run:
        shell: "bash -l {0}"
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        runs-on:
          - ubuntu-latest
        include:
          - python-version: "3.10"
            runs-on: macOS-latest
          - python-version: "3.10"
            runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - uses: mamba-org/setup-micromamba@v2
        with:
          init-shell: bash
          environment-name: formulate-env
          create-args: >-
            --strict-channel-priority
            conda-forge/label/python_rc::_python_rc
            python=${{ matrix.python-version }} uv

      - name: Add ROOT installation
        if: runner.os == 'Linux' && matrix.python-version != '3.14'
        run: |
          micromamba install root -y
      - name: Install user dependencies
        run: |
          uv pip install .

      - name: Test import to check for dependencies
        run: python -c "import formulate; from formulate import *"

      - name: Install test dependencies
        run: |
          # Fix when root is available for Python 3.14
          conda install coveralls uv pytest-cov ${{ matrix.python-version == '3.14' && ' ' || 'root' }} -y
          uv pip install -U .[dev,test]

      - name: Test with pytest
        run: |
          pytest --cov=formulate --verbose
